body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.producto {
    background-color: rgb(199, 199, 199); 
    border-style: inset;
    border-color: grey;
    border-width: 3px;
    padding: 15px;
    margin-bottom: 10px;
}

.btn-comprar {
    background-color: darkorange;
}

em {
    color: green;
}

nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: rgb(197, 228, 255); 
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav .logo{
    margin-left: 10px;
}

nav .barnav{
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
}

nav .barnav div{
    padding: 10px 20px;
    font-size: 31px;
    text-decoration: none;
    text-decoration-color: darkorange;
}

nav .barnav div:hover{
    cursor: pointer;
    background:darkorange;
}

nav .barnav div a{
    font-size: 31px;
    text-decoration: none;
    color: darkorange;
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
}

.formulario {
    background-color: rgb(199, 199, 199); 
    float: left;
    margin-left: 100px;
    border-style: inset;
    border-color: black;
    margin-bottom: 20px;
    border-width: 5px;
    padding: 20px;
}

.cv {
    background-color: rgb(199, 199, 199); 
    float: right;
    margin-right: 100px;
    border-style: inset;
    border-color: black;
    margin-bottom: 20px;
    border-width: 5px;
    padding: 20px;
}

.colocar_mensaje{
    float: left;
}

h1 {
    font-size: 50px;
}

.vacio {
    margin-bottom: 10%;
}

.bloques {
    border-style: inset;
    border-color: grey;
    background-color: rgb(199, 199, 199); 
    text-align: center;
}
.bloques p {
    font-size: 25px;
}

.bienvenida {
    background-color: rgb(197, 228, 255); 
    font-size: 25px;
    padding: 50px;
    padding-top: 10px;
}

.trabajo{
    background-color: rgb(255, 58, 58);
    font-size: 25px;
    padding: 50px;
    padding-top: 10px;
}

.especial {
    text-decoration: none;
    color: black;
}

.izquierda {
    float: left;
    margin-right: 30px;
    
}

footer {
    background-color: rgb(197, 228, 255); 
    float: left;
    left: 0;
    width: 100%;
}

footer img {
    float: left;
}

a {
    color: black
}

footer a:hover{
    color: darkorange;
    cursor: pointer;
}