body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  .producto {
    border: 3px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
  }
  .btn-comprar {
    background-color: #4CAF50;
    color: white;
  }

em {
    color:green
}